---
---

@import "{{ site.theme }}";

@import "path/to/fluid-type-mixin";
.title {
  @include fluid-type(28px, 52px);
}
.body {
  @include fluid-type(14px, 20px);
}

@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

.body {
  font-family: "Questrial";
  color: #424242;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Questrial";
  color: #190707;
}

h2 {
  background: transparent;
}
